h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    margin: 20 0 20 0; 
    position: relative;
    top: 15px;   
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: #747c83;
  padding-left: 20px;
}

 h3 {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 18px;
   color: #747c83;
   margin: 0px 0px 0px 10px;
   padding: 0px;

}

 form {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
   font-weight: 400;
   color: #333333;
   background-color: white;
   width: 940px;
   margin: auto;
   padding: 15px;
 }

 p {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
   font-weight: 400;
   line-height: 26px;
   color: #747c83;
   background-color: white;
   width: 940px;
   margin: 30px 0px 10px 0px;
   padding: 0px 10px 0px 10px;
 }

 input,
 textarea {
   margin: 10px;
   line-height: 26px;
 }

a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #747c83;
  text-decoration: none;
}

body {
    margin: 0; 
    padding: 0; 
    background-color: #FFFFFF; 
    background-image: url("https://urgeinteractive.com/emimg/2020/sparklebackground2222.jpg");
    background-repeat: no-repeat; background-position: center;background-size: cover;
}

nav {
  display: block;
  position: relative;
  left: 800px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #333333;
}

header {
  width: auto;
  height: 60px;
  background-color: white;
  margin: 0px auto 40px auto;
  padding: auto;
}

hr {
  width: 930px;
  margin: 10px;
  position: relative;
  right: 0px;
  height: 2px;
  background-color: #4aaaa5;
  border: none;
}

section {
  width: 960px;
  height: auto;
  margin: auto;
  padding: 20px;
  background-color: white;
  font-size: 24px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  color:333333;
  outline-width: 3px;
  outline-color: #411919;
}

img {
  width: 200px;
  height: 200px;
  border-color: #4aaaa5;
  border-width: 2px;
  float: left;
  padding: 30px;
}

button {
  width: 100px;
  height: 50px;
  border-radius: 15px;
  border-style: none;
  background-color: #4aaaa5;
  color: #ffffff;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  position: relative;
  right: -20px;
}

footer {
  width: 100%;
  height: 60px;
  border-top: 10px;
  border-color: #4aaaa5;
  background-color: #686868;
  position: fixed;
  bottom: 0;
  margin: 10 auto;
}


.top {
  width: 100%;
  height: 5px;
  background-color: #4aaaa5;
}

.title_square {
  background-color: teal;
  width: 200px;
  height: 60px;
  position: relative;
  left: 155px;
}

.nav-buttons {
  width: 100px;
  position: relative;
  right:
}

.header {
  margin: auto;
}

.copyright {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: white;
  position: relative;
  left: 800px;
  margin: 5px;
  padding: 5px;
}

.gallery {
  margin: 25px;
  float: left;
  width: 180px;
}

.gallery img {
  width: 100%;
  height: auto;
}

.desc {
  margin: 25px;
  width: 180px;
  padding: 0px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: #747c83;

}

.clearfix {
  overflow: auto;
}